<ion-header>
	<ion-toolbar>
		<ion-title>Edit Profile</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content >





  <ion-card  class="bg" *ngFor="let item of profile">


    <ion-card-content style="text-align: center;">

      
			<ion-card-title>Nama</ion-card-title>
			<ion-card>
			<ion-input type="text" [(ngModel)]="item.EditNama"></ion-input>
			
			</ion-card>
			

			<ion-card-title>Tempat, Tanggal Lahir</ion-card-title>
			<ion-card>
				<ion-input type="text" [(ngModel)]="item.EditTTL"></ion-input>
			
			</ion-card>
			

				<ion-card-title>Alamat</ion-card-title>
				<ion-card>
					<ion-input type="text" [(ngModel)]="item.EditAlamat"></ion-input>
					
				</ion-card>
				
				<ion-card-title>Pendidikan Terakhir</ion-card-title>
				<ion-card>
				<ion-input type="text" [(ngModel)]="item.EditPdT"></ion-input>
				
			</ion-card>

			<ion-card-title>Hanphone</ion-card-title>
			<ion-card>
				<ion-input type="text" [(ngModel)]="item.EditHP"></ion-input>
				
			</ion-card>
			
			
			<ion-button shape="round" color="secondary" size="small" (click)="EditRecord(item)">
				<ion-icon size="small" slot="icon-only" name="create"></ion-icon></ion-button>

			
				<ion-button fill="outline" color="success" size="small" (click)="UpdateRecord(item)">
					Save
				</ion-button>

		
				
    
	</ion-card-content>
	<p>*untuk mengubah profile wajib menekan tombol pena</p>

  </ion-card>

 
</ion-content>
