<ion-grid>
  <ion-row class="ion-justify-content-center">
    <ion-col class="ion-align-self-center" size-md="6" size lg="5" size lg="5" size-xs="12">
      <div class="ion-text-center">
        <img src="assets/icon/LOGO.png" style="width: 50%; height: 50%;">
      </div>
      <ion-card>
        <div class="ion-padding">
  <form class="form" [formGroup]="validations_form"  (ngSubmit)="loginUser(validations_form.value)">
 
    <ion-item>
      <ion-label  position="floating" color="primary">Email</ion-label>
      <ion-input type="text" formControlName="email"></ion-input>
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.email">
        <div class="error-message" *ngIf="validations_form.get('email').hasError(validation.type) && (validations_form.get('email').dirty || validations_form.get('email').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>
 
    <ion-item>
      <ion-label  position="floating" color="primary">Password</ion-label>
      <ion-input type="password" formControlName="password" class="form-controll" required></ion-input>
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.password">
        <div class="error-message" *ngIf="validations_form.get('password').hasError(validation.type) && (validations_form.get('password').dirty || validations_form.get('password').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>
 
    <ion-button type="submit" size="medium" [disabled]="!validations_form.valid" expand="block">Log In</ion-button>
 
    <label class="error-message">{{errorMessage}}</label>
  </form>
</div>
<ion-title>
    Belum mempunyai akun? <a href="/register"> Klik Disini </a>
  </ion-title>
</ion-card>
</ion-col>
</ion-row>
</ion-grid>