<ion-header>
  <ion-toolbar color="primary">
    <ion-title style="text-align: center;">
      Cari Pekerjaan
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
	<ion-searchbar></ion-searchbar>

	<ion-toolbar>  
    <ion-segment>
      <ion-segment-button checked>  
        <ion-label>All</ion-label>  
        <ion-icon name="apps"></ion-icon> 
      </ion-segment-button>  
      <ion-segment-button [routerLink]="['/katperusahaan']">  
        <ion-label>Perusahan</ion-label>  
        <ion-icon name="briefcase"></ion-icon> 
      </ion-segment-button>  
      <ion-segment-button [routerLink]="['/kattoko']">  
        <ion-label>Toko</ion-label>  
        <ion-icon name="basket"></ion-icon>
      </ion-segment-button>  
      <ion-segment-button [routerLink]="['/katrestoran']">  
        <ion-label>Restoran</ion-label>  
        <ion-icon name="restaurant"></ion-icon>
      </ion-segment-button>  
    </ion-segment>  
  </ion-toolbar>  

	<ion-card *ngFor="let item of items | async" color="light" [routerLink]="['/isipopuler']">  
	<ion-card-header>
		<ion-card-title>{{item.nama}}</ion-card-title>
		<ion-card-subtitle>{{item.alamat}}</ion-card-subtitle>
	</ion-card-header>
	<ion-card-content>
	<img [src]="item.gambar"/>  
	</ion-card-content>  
	</ion-card>

</ion-content>
