<ion-header>
  <ion-toolbar color="primary">
    <ion-title style="text-align: center;">
      Inbox
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-list *ngFor="let listjob of jsondata">
<ion-item [routerLink]="['/deskripsi-inbox']">
          <ion-avatar slot="start">
          <ion-icon md="md-mail" size="large"></ion-icon>
          </ion-avatar>
          <ion-label>
            <h2>{{listjob.title}}</h2>
            <h3>{{listjob.lokasi}}</h3>
            <p>Listen, I've had a pretty messed up day...</p>
          </ion-label>
        </ion-item> 
      </ion-list>
</ion-content>
