<ion-header>
  <ion-toolbar color="primary">
    <ion-title style="text-align: center;">inbox</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
	<div>
	<ion-icon md="md-mail-open" size="large" slot="center"></ion-icon>
	</div>
		<ion-card>
		<div text-left>
			<h3>Spesial Sambal</h3>
			<p>Jl. Veteran no.33</p>
			<p>Selamat, Anda berhasil Mendaftar di Perusahaan kami (Spesial Sambal). Silahkan datang ke perusahaan kami menggunakan pakaian rapi dan sopan untuk melakukan interview</p>
		</div>
	</ion-card>
</ion-content>
